.account-creation-container {
    @apply w-full mx-auto sm:w-2/6 sm:p-6  border rounded-lg shadow bg-gray-800 border-gray-700;
}

.account-creation-container button {
    @apply w-full py-2 px-4 sm:w-20;
}

.account-creation-container label {
    @apply text-base font-medium mb-2 block sm:text-lg;
}

.add-person-container {
    @apply w-full flex flex-col md:flex-row sm:gap-10 sm:items-center mb-2 bg-gray-800;
    min-height: 100px;
    transition: height 0.3s ease;
}

.add-cancel-account-buttons {
    @apply w-full flex flex-col gap-2 bg-gray-800 sm:w-28 sm:flex-row sm:space-y-0 sm:space-x-2;
}

.add-cancel-account-buttons button {
    @apply w-full sm:w-28 flex items-center justify-center;
}

#add-person-button {
    @apply w-full sm:h-16;
}

.account-creation-container input {
    height: 75%;
    @apply inline w-full sm:w-fit p-2 ps-5 border  rounded-lg  focus:ring-blue-500 focus:border-blue-500 border-gray-600 placeholder-gray-400 text-gray-800 text-lg;
}

.account-bubble {
    @apply  bg-gray-800;
}

.account-bubble label{
    @apply w-full sm:max-w-[75%] sm:pl-14 text-lg mb-0 truncate;
}

.account-bubble-content {
    @apply flex md:w-auto sm:flex-row  justify-between items-center sm:h-24 mb-4 shadow bg-gray-800 border rounded;
}

.account-bubble-buttons {
    @apply flex h-full flex-row justify-between items-end;
}

.account-bubble button {
    @apply flex h-full flex-row gap-4 justify-center items-center bg-white rounded-none;
    @apply w-full md:w-20;
}

.account-bubble input {
    @apply ml-2 sm:ml-8;
}

.error {
    @apply bg-gray-800 text-red-600 text-3xl;
}

#done-button {
    @apply w-full sm:w-40;
}