.account-creation-container {
    @apply w-2/6 p-6  border rounded-lg shadow bg-gray-800 border-gray-700;
}

.account-creation-container button {
    @apply w-20;
}

.account-creation-container label {
    @apply text-lg;
}

.add-person-container {
    width: 100%;
    @apply flex gap-24 justify-center items-center h-20 bg-gray-800;
}

.add-cancel-account-buttons {
    @apply flex gap-2 flex-row bg-gray-800;
}

.add-cancel-account-buttons button {
    @apply w-28 p-4;
}

#add-person-button {
    width: 100%;
    height: 75%;
}

.account-creation-container input {
    height: 75%;
    @apply inline w-fit p-2 ps-5 border  rounded-lg  focus:ring-blue-500 focus:border-blue-500 border-gray-600 placeholder-gray-400 text-gray-800 text-lg;
}

.account-bubble {
    @apply  bg-gray-800;
}

.account-bubble label{
    @apply max-w-24 max-h-20 pr-32 overflow-auto p-4 rounded-lg inline;
}

.account-bubble-content {
    @apply flex flex-row justify-evenly h-24 p-4 m-4 shadow bg-gray-800 border rounded;
}

.account-bubble-buttons {
    @apply flex gap-4 justify-center items-center bg-gray-800;
}

.error {
    @apply bg-gray-800 text-red-600 text-3xl;
}
